training
training2
testing
**/dataset
.ipynb_checkpoints/
.vscode/settings.json
Notebooks/female_data.npy
Notebooks/male_data.npy
Notebooks/.vscode/settings.json
cmp23
Notebooks/male_data_small.npy
Notebooks/glcm_male.npy
Notebooks/glcm_female.npy
Notebooks/female_data_small.npy
*.npy
Notebooks/lol.jpg
*.jpg
